# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build artifacts
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
